.angular-sub-root{
    border: 1px solid salmon;

    .angular-logo{
        width: 100px;
        height: 100px;
        background-size: cover;
        background-image: url(../assets/angular.png);
    }
}